# Python artifacts:
*.pyc

# Eclipse IDE:
.project
.pydevproject

# Visual Studio
.vs

# PyCharm
.idea

# Mac directory info:
.DS_Store

# Windows directory info:
Thumbs.db

# Game-specific files and directories:
preferences.json
logs/
screenshots/
backups/
contentpacks/
toondata/
panel_save.mp
ai-crash.txt
TTJScreenshots/
TTPScreenshots/